*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --OCEAN: rgba(64, 75, 191, 1);
    --WHITE: rgba(255, 255, 255, 1);
    --NAVY-BLUE: rgba(46, 47, 66, 1);
    --SLATE: rgba(67, 68, 85, 1);
    --IRIS: rgba(77, 90, 229, 1);
    --CLOUD: rgba(244, 244, 253, 1);
    --CORNFLOWER: rgba(231, 233, 252, 1);
    --GREEN: #31D0AA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    background-color: var(--WHITE, #fff);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px; 
}

a {
    color: var(--SLATE, #434455);
    text-decoration: none;
}

address {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

/* HEADER */ 

.header {
    padding: 24px 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
                /* x-offset y-offset blur spread color */
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* LOGO STYLE */

.nav-link {
    font-size: 18px;
    line-height: 1.17;
    color: var(--IRIS, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-span {
    color: var(--NAVY-BLUE);
}

/* NAVIGATION STYLE */

.nav-item-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

/* LOGO AND NAVIGATION FLEX */

.header-container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display:flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}


/* LINK HOVER AND FOCUS */

.nav-item-link:hover,
.nav-item-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--OCEAN, #404bbf);
}


/* ADDRESS STYLE */

.address-link {
    font-size: 16px;
    color: var(--SLATE, #434455);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/* ADDRESS FLEX */

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}


/* MAIN */

/* 1st SECTION Flex*/
.hero { 
    background-color: var(--NAVY-BLUE, #2e2f42); 
    max-width: 1440px; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                    url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 191px 0 185px;
    margin: 0 auto;
}


/* 1st SECTION Style*/

.hero-heading {
    color: var(--WHITE);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-btn {
    color: var(--WHITE);
    font-family: 'Roboto', sans-serif;
    background-color: var(--IRIS);
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}


/* 2nd SECTION ABOUT Flex */
.about {
    padding-top: 123px;
    margin-bottom: 120px;
}

.about-icon-container {
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--CLOUD, #F4F4FD);
    min-height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    gap: 24px;
}

.about-item {
    width: calc((100% - 72px) / 4);
}

.about-title {  
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

/* 3rd SECTION SERVICES Flex */

.services {
    padding-bottom: 120px;
}

.services-heading, 
.team-heading {
    font-size: 36px;
    line-height: 1.11;
    color: var(--NAVY-BLUE);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.services-list,
.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.services-item {
    width: calc((100% - 48px) / 3);
}

/* 4th SECTION TEAM Flex */

.team {
    background-color: var(--CLOUD);
    padding: 120px 0;
}

.team-item {
    background-color: var(--WHITE);
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background: var(--WHITE, #FFF);
                /* x-offset y-offset blur spread color */
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-tag {
    padding: 32px 0;
}

.team-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.team-description {
    text-align: center;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--OCEAN, #404bbf);
}

.team-icon {
    fill: var(--CLOUD, #f4f4fd);
}


/* 5th SECTION CUSTOMERS Flex */
.customers {
    padding: 120px 0;
}

.customers-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.customers-icon-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--LIGHT-SLATE, #8E8F99);
}

.customers-icon-link:hover,
.customers-icon-link:focus {   
    color: var(--OCEAN,#404bbf);
    border-color: var(--OCEAN,#404bbf);
}

.customers-icon {
    fill: currentColor;
}

/* FOOTER */

.footer {
    background-color: var(--NAVY-BLUE);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-icon-paragraph {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-link {
    font-size: 18px;
    line-height: 1.17;
    color: var(--IRIS, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.footer-span {
    color: var(--CLOUD);
}

.footer-paragraph {
    line-height: 1.5;
    color: var(--CLOUD);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS, #4d5ae5);
    border-radius: 50%;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--GREEN, #31d0aa);
}

.footer-icon {
    fill: var(--CLOUD, #f4f4fd)
}

/* PORTFOLIO BUTTON */

.cards-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: var(--CLOUD);
    cursor: pointer;
    text-align: center;
    line-height: 1.5;
    padding: 12px 24px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    border-radius: 4px;
}   

.cards-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.cards-btn:hover,
.cards-btn:focus {
    color: var(--WHITE);
    background-color: var(--OCEAN);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;   
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-tag {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    border-top: none;
}

.portfolio-title {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}